@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
html {
  margin: 0;
  padding: 0;
  font-size: 100%
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
.page-container {
  min-width: 980px;
  max-width: 2062px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
header {
  width: 96%;
  padding: 0 2%;
}
header .date {
  width: 100%;
  font-size: 3.2rem;
  padding: 0;
}
header .nutrition-information,
header .logo {
  width: 50%;
  float: left;
  font-size: 6rem;
  padding: 8.5rem 0 7rem;
}
.nutrition-information__description {
  font-size: 3.6rem;
}
header .logo img {
  max-width: 100%;
  float: right;
}
.info-line {
  width: 96%;
  padding: 8rem 2%;
  background-color: #f3f7fb;
}
.info-line__team-info {
  width: 50%;
  float: left;
}
.info-line__team-info img {
  float: left;
  margin-right: 7rem;
}
.info-line__team-info .name {
  font-size: 4.8rem;
}
.info-line__team-info .number {
  font-size: 4rem;
}
.info-line__test-info {
  font-size: 3.2rem;
  width: 50%;
  float: left;
  text-align: right;
}
.blocks-side {
  width: 96%;
  padding: 12rem 2%;
}
.blocks-side__block {
  width: 31.85%;
  display: inline-block;
  margin-right: 1.9%;
  margin-bottom: 14rem;
}
.blocks-side__block:nth-child(3) {
  margin-right: 0;
}
.blocks-side__image {
  max-width: 100%
}
.blocks-side__name {
  font-weight: 600;
  font-size: 4rem;
  padding: 6rem 0 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blocks-side__number {
  font-size: 3.4rem;
}
footer {
  position: absolute;
  bottom: 0;
}
ul.footer-info {
  list-style: none;
  padding: 0 2%;
  width: 100%
}
ul.footer-info li {
  font-size: 3rem;
  display: inline-block;
  padding-right: 3.5rem;
  position: relative;
}
ul.footer-info li img {
  width: 3.2rem;
  position: absolute;
  top: 0.5rem;
  left: 3.5rem;
}
ul.footer-info li:not(:first-child) {
  padding-left: 3.5rem;
}
ul.footer-info li:not(:last-child) {
  border-right: 1px solid #b9c3cd;
}
ul.footer-info li.with-icon {
  padding-left: 9.2rem;
}
.optimizing-icon {
  width: 3.6rem;
}
@media (min-width: 1461px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1320px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 1225px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 1070px) {
  html {
    font-size: 5px;
  }
}
